body{
    background: #6a11cb;
}
  .error-hide{
      display: none;
  }
  .error-show{
      margin-bottom: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 30px;
      padding-right: 30px;
      border: 3px solid whitesmoke;
      border-radius: 5px;
      display: block;
      border-radius: 7px;
  }
  .add-border{
      color:red;
      border: 3px solid red;
      border-radius: 10px;
  }